table, td {
  text-align: center;
  vertical-align: middle;
  margin-bottom: 2px;
  font-family: Verdana, "Lucida Sans Unicode", sans-serif;
  font-size: 30px;
}
input {
  text-align: center;
  font-size: 100%;
}
input[type="number"] {
  width: 15%;
}
input[type="checkbox"] {
  /* Double-sized Checkboxes */
  transform: scale(3) translateY(-1px);
  margin: 10px 10px 10px 10px;
}
body {
  font-family: Verdana, "Lucida Sans Unicode", sans-serif;
}
button {
  margin: 15px;
}
h1 {
  font-family: "Palatino Linotype", "Book Antiqua", serif;
  font-size: 250%;
}
p {
  font-size: 150%;
}