body { font-family: Verdana, "Lucida Sans Unicode", sans-serif; }
.bracket { transform: translateY(-10px)scaleY(2); }
::placeholder { color: #bbbbbb; }
.big { font-size: 200%; }
input { width: 7.5vw; }
.split { height: 2vw; }
p { font-size: 150%; }
table, td {
  text-align: center;
  vertical-align: middle;
  font-family: Verdana, "Lucida Sans Unicode", sans-serif;
  font-size: 30px;
  border-collapse: collapse;
}
input {
  text-align: center;
  font-size: 100%;
}
h1 {
  font-family: "Palatino Linotype", "Book Antiqua", serif;
  font-size: 250%;
}
.squareroot {
  font-size: 150%;
  transform: scaleY(2)scaleX(1);
}
.points { font-size: 150%; }
.frac {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    letter-spacing: 0.001em;
    text-align: center;
}
.frac > span {
    display: block;
    padding: 0.1em;
}
.frac span.bottom {
    border-top: thin solid black;
}
.frac span.symbol {
    display: none;
} 
.numerator {
	border-bottom: 5px solid black;
}